

.header {
    background: rgba(0, 0, 0, 0.4);
    width: auto;
    position: relative;
    z-index: 2;
    height: 110px;
    .logo {
        // width: 12%;
        height: 98%;
        opacity: .9;
        display: inline-block;
    }
    .title {
        display: inline-block;
        margin: 0;
        padding: 0;
        // height: 60px;
        text-align: center;
        position: relative;
        top: -24px;
        h1 {
            display: inline-block;
            color: whitesmoke;
            margin: 0 50px;
            padding: 0;
            position: relative;
            // bottom: 40px;
            font-size: 40px;
        }
        p {
            margin: 0;
            font-size: 18px;
            color: whitesmoke;
        }
    }
    .enah-logo {
        height: 80%;
        margin: 0 0 10px 100px;
    }
}

.menu {
    position: relative;
    z-index: 2;
    background: rgba(185, 215, 185, 0.7);
    justify-self: center;
    width: 12%;
    // display: flex;
    float: left;
    // position: relative;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    .links {
        display: block;
        text-decoration: none;
        color: black;
        font-size: 18px;
        margin: 20px auto;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        opacity: .9;
    }
}