.startHere {
    position: absolute;
    z-index: 2;
    left: 19.6%;
    width: 68.9%;
    height: 70vh;
    text-align: center;
    font-size: 40px;
    background: rgba(0,0,0,.4);
    color: goldenrod;
    padding: 10px;
}