body {
    // background: url("https://mega.online/-/media/feature/mega-articles/banners/2018/dna-information/dna-1811955-1220x520.jpg");
    // background-image: url("https://assets.sutori.com/user-uploads/image/284dcf30-092c-4da6-8e8c-340acb484d3c/ea4336038d7c6ddb656bc740c6cd75ad.gif");
    // background-image: url("https://nutricionyadolescentes01quimica.files.wordpress.com/2015/05/adn2.gif");
    // background-image: url("https://media.giphy.com/media/dWIL4na2N5OtBe8AqN/giphy.gif");
    // background-image: url("https://media.giphy.com/media/QTfa8EZ9dQAHzF4e06/giphy.gif");
    // background-image: url("https://i.pinimg.com/originals/3d/8f/54/3d8f549c5f505f1f559cc55205cd7269.gif");


    background-size: 85%;
    // backdrop-filter: opacity(20%);
    background: #ccaaaf;
    // -webkit-backdrop-filter: blur(10px);

    // .rota-horizontal{
    //     -webkit-transform: scaleX(-1);
    //     -moz-transform: scaleX(-1);
    //     transform: scaleX(-1);
    //     filter: FlipH;
    //     -ms-filter: "FlipH";
    // }
    
    margin: 0 auto;
    width: 100%;
    padding:0;
}