body {
    // background: url("https://mega.online/-/media/feature/mega-articles/banners/2018/dna-information/dna-1811955-1220x520.jpg");
    // background-size: cover;
    background: black;
    
    margin: 0 auto;
    width: 100%;
    padding:0;
}